# Transform function in pandas

In [8]:
import pandas as pd
import numpy as np

In [18]:
df = pd.DataFrame(np.array([[1,2,3],[4,5,6],[7,8,9]]),columns=['a','b','c'])
df

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [19]:
result= df.transform(func= lambda x : x + 10)
result

    a   b   c
0  11  12  13
1  14  15  16
2  17  18  19

In [21]:
result=df.transform(func = ['sqrt'])
result

          a         b         c
       sqrt      sqrt      sqrt
0  1.000000  1.414214  1.732051
1  2.000000  2.236068  2.449490
2  2.645751  2.828427  3.000000

In [42]:
url='https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/addresses.csv'
df=pd.read_csv(url)
df.columns=['name','firstname','address','city','postalcode','number']
df

,name,firstname,address,city,postalcode,number
0,Jack,McGinnis,220 hobo Av.,Phila,PA,9119
1,"John ""Da Man""",Repici,120 Jefferson St.,Riverside,NJ,8075
2,Stephen,Tyler,"7452 Terrace ""At the Plaza"" road",SomeTown,SD,91234
3,NaN,Blankman,NaN,SomeTown,SD,298
4,"Joan ""the bone"", Anne",Jet,"9th, at Terrace plc",Desert City,CO,123

In [43]:
df = df['number']
df

0     9119
1     8075
2    91234
3      298
4      123
Name: number, dtype: int64

In [45]:


result= df.transform(func=['sqrt'])
result

         sqrt
0   95.493455
1   89.861004
2  302.049665
3   17.262677
4   11.090537