# XLSX Fileformat
* spreadsheet fileformat
* Microsoft Excel Open XML
* XML-Extensible Markup Language
* pandas cannot read so we use other modules to read and load into pandas

Reading data from XLSX File

In [1]:
import pandas as pd
import urllib.request

In [4]:
urllib.request.urlretrieve("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/file_example_XLSX_10.xlsx", "sample.xlsx")
df=pd.read_excel('sample.xlsx')
df

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

# XML Fileformat

In [9]:
import xml.etree.ElementTree as ET

In [13]:
employee=ET.Element('employee')# creating file structure
details=ET.SubElement(employee,'details')
first=ET.SubElement(details,'first')
second=ET.SubElement(details,'second')
third=ET.SubElement(details,'age')
first.text='harsha'
second.text='veena'
third.text='22'
mydata=ET.ElementTree(employee)
# myfiles=open('items2.xml','wb')
# myfiles.write(mydata)
with open ('new_sample.xml','wb')as files:# create new xml file with results
    mydata.write(files)

In [18]:
import pandas as pd 

import xml.etree.ElementTree as etree

!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Sample-employee-XML-file.xml

--2021-10-01 07:19:31--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0101EN-SkillsNetwork/labs/Module%205/data/Sample-employee-XML-file.xml
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.45.118.108
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.45.118.108|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1016 [application/xml]
Saving to: ‘Sample-employee-XML-file.xml.1’

Sample-employee-XML 100%[===================>]    1016  --.-KB/s    in 0s

2021-10-01 07:19:31 (13.5 MB/s) - ‘Sample-employee-XML-file.xml.1’ saved [1016/1016]

In [21]:
tree= etree.parse("Sample-employee-XML-file.xml")
root=tree.getroot()
columns=['firstname','lastname','title','division','building','room']
dataframe=pd.DataFrame(columns=columns)
for node in root:
    firstname=node.find("firstname").text
    lastname=node.find("lastname").text
    title=node.find("title").text
    division=node.find("division").text
    building=node.find("building").text
    room=node.find("room").text
    dataframe= dataframe.append(pd.Series([firstname,lastname,title,division,building,room],index=columns),ignore_index=True)
dataframe

  firstname lastname      title  division building room
0      Shiv   Mishra   Engineer  Computer      301   11
1       Yuh    Datta  developer  Computer      303   02
2     Rahil     Khan     Tester  Computer      304   10
3      Deep   Parekh   Designer  Computer      305   14

In [22]:
dataframe.to_csv("employee.csv",index=False)

In [24]:
type(dataframe)

pandas.core.frame.DataFrame

|Data Formats|  Read  |   Save|
|---|---|---|
|csv|pd.read_csv()|df.to_csv()|
|json|pd.read_json()| df.to_json()|
|excel|pd.read_excel()| df.to_excel()|
|hdf|pd.read_hdf()| df.to_hdf()|
sql|pd.read_sql()|df.to_sql()|

This table helps to remember fileformats to save and read in other formats